.todo-container {
  display: flex;
  gap: 110px;
  align-items: start;
}

.add-todo-container {
  padding: 25px 35px;
  border-radius: 10px;
  border: 3px solid white;
  margin: 0 10px;
  min-width: 380px;
}

.add-todo-container form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.add-todo-container form .row-override {
  display: flex;
  gap: 10px;
}

.todos-table-delete {
  display: inline-block;
  width: 45px;
  aspect-ratio: 1;
  cursor: pointer;
}

.todos-table-delete svg {
  width: 100%;
}

tbody .new-todo:last-child {
  margin-bottom: 15px;
}
