{{ block "head" .}}
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="htmx-config" content='{"useTemplateFragments":"true"}'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.amber.min.css"
    />
    <link href="css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  </head>
{{ end }}
