{{ block "index" .}}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
  {{ template "head" .}}
  <body>
    <nav>
      <ul>
        <li><a href="#">Manage Todos</a></li>
        <li><a href="#">Sprint Board</a></li>
      </ul>
    </nav>
    <h1>Manage Todos</h1>
    <main>
      <div class="todo-container">
        {{ template "todosTable" .Data }}
        <div class="add-todo-container">
          {{ template "addTodoForm" .ToDoFormData }}
        </div>
      </div>
    </main>
  </body>
</html>
{{ end }}

{{ block "addTodoForm" . }}
<form id="add-todo-form" hx-post="/todos">
  <div>
    <label for="add-todo-name">Name:</label>
    <input 
      type="text" 
      name="name" 
      id="add-todo-name" 
      {{ if .Name }} value="{{ .Name }}" {{ end }} 
    />
  </div>
  <div class="row-override">
    <input 
      type="checkbox"
      name="show"
      id="add-todo-show"
      value="show"
      {{ if .ShowOnBoard }} checked {{ end }}
    />
    <label for="add-todo-show">Add To Sprint Board</label>
  </div>
  <button type="submit">Add ToDo</button>
</form>
{{ end }}

{{ block "todosTable" . }}
    <table id="todos-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Progress</th>
          <th>On Board</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="todos-tbody">
        {{ range .ToDos }}
          {{ template "todo" . }}
        {{ end }}
      </tbody>
    </table> 
{{ end }}

{{ block "todo" . }}
<tr>
  <td>{{ .Name }}</td>
        <td>{{ .Progress }}</td>
        <td>
          <input 
            disabled
            name="show-slider" 
            type="checkbox" 
            role="switch" 
            {{ if .ShowOnBoard}} checked {{ end}} 
          />
        </td>
        <td>
          <span>{{ if .ShowOnBoard}} 
            {{ template "hide-button" .}} 
          {{ else }} 
            {{ template "show-button" .}} {{ end }}
          </span>
          <span class="todos-table-delete" 
                hx-delete="/todos/{{ .Id }}" 
                hx-target="closest tr" 
                hx-swap="outerHTML"
                hx-indicator="#todo-{{ .Id }}-loading-spinner"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path fill="#FF0000" d="M20,7H17V6a4,4,0,0,0-4-4H11A4,4,0,0,0,7,6v1H4a1,1,0,0,0,0,2H5v9a4,4,0,0,0,4,4H15a4,4,0,0,0,4-4V9h1a1,1,0,0,0,0-2ZM9,6a2,2,0,0,1,2-2h2a2,2,0,0,1,2,2V7H9ZM16,18a2,2,0,0,1-2,2H10a2,2,0,0,1-2-2V9H16Z"/>
              <rect fill="none" x="7" y="10" width="10" height="8"/>
              <rect fill="none" x="7" y="7" width="2" height="2"/>
              <rect fill="none" x="15" y="7" width="2" height="2"/>
              <line x1="12" y1="7" x2="12" y2="20" stroke="#FF0000" stroke-width="4"/>
            </svg>
          </span>
    <span id="todo-{{ .Id }}-loading-spinner" class="htmx-indicator" aria-busy="true" />
          
        </td>
      </tr>
{{ end }}

{{ block "oob-todo" . }}
  <tbody id="todos-table" hx-swap-oob="afterbegin:#todos-tbody">
    <tr class="new-todo">
      <td><span class="new-todo-marker">*</span>{{ .Name }}</td>
      <td>{{ .Progress }}</td>
      <td>
        <input 
          disabled
          name="show-slider" 
          type="checkbox" 
          role="switch" 
          {{ if .ShowOnBoard}} checked {{ end}} 
        />
      </td>
      <td>
      <span>{{ if .ShowOnBoard}} 
        {{ template "hide-button" .}} 
      {{ else }} 
        {{ template "show-button" .}} {{ end }}
      </span>
      <span class="todos-table-delete" 
            hx-delete="/todos/{{ .Id }}" 
            hx-target="closest tr" 
            hx-swap="outerHTML"
            hx-indicator="#todo-{{ .Id }}-loading-spinner"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill="#FF0000" d="M20,7H17V6a4,4,0,0,0-4-4H11A4,4,0,0,0,7,6v1H4a1,1,0,0,0,0,2H5v9a4,4,0,0,0,4,4H15a4,4,0,0,0,4-4V9h1a1,1,0,0,0,0-2ZM9,6a2,2,0,0,1,2-2h2a2,2,0,0,1,2,2V7H9ZM16,18a2,2,0,0,1-2,2H10a2,2,0,0,1-2-2V9H16Z"/>
          <rect fill="none" x="7" y="10" width="10" height="8"/>
          <rect fill="none" x="7" y="7" width="2" height="2"/>
          <rect fill="none" x="15" y="7" width="2" height="2"/>
          <line x1="12" y1="7" x2="12" y2="20" stroke="#FF0000" stroke-width="4"/>
        </svg>
            </span>
        <span id="todo-{{ .Id }}-loading-spinner" class="htmx-indicator" aria-busy="true" />
              
      </td>
    </tr>
  </tbody>
{{ end }}

{{ block "show-button" .}}
<button 
  hx-patch="/todos/{{ .Id }}" 
  hx-target="closest tr" 
  hx-swap="outerHTML" 
  hx-vals='{"show":"true"}'
>
  Show
</button>
{{ end }}


{{ block "hide-button" .}}
  <button
  hx-patch="/todos/{{ .Id }}" 
  hx-target="closest tr" 
  hx-swap="outerHTML" 
  hx-vals='{"show":"false"}'
>
  Hide
</button>
{{ end }}
